<!DOCTYPE html>
<html>
	<head>
		<title>随聊区</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="./css/chat.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="img/tip/jian2.png"></div>
					<div class="topword1">随聊区</div>
				</div>
				<div class="middle">
					<div class="lesson-content">
						 <div class="lessonsection">
						 	<div class="lessonimg" id="movie">
						 		<div class="mengban">
						 			<h3>电影</h3>
						 			<p>分享和电影相关的一些趣闻</p>
						 		</div>
						 	</div>
						 </div>
						 <div class="lessonsection">
						 	<div class="lessonimg" id="music">
						 		<div class="mengban">
						 			<h3>音乐</h3>
						 			<p>分享和音乐相关的一些趣闻</p>
						 		</div>
						 	</div>
						 </div>
						 <div class="lessonsection">
						 	<div class="lessonimg" id="school">
						 		<div class="mengban">
						 			<h3>学校</h3>
						 			<p>分享学校里的一些趣闻</p>
						 		</div>
						 	</div>
						 </div>
						 <div class="lessonsection">
						 	<div class="lessonimg" id="other">
						 		<div class="mengban">
						 			<h3>其他</h3>
						 			<p>分享生活中的一些趣事</p>
						 		</div>
						 	</div>
						 </div>
					</div>	
				</div>		
			</div>
		</div>	
		<script src="./js/jquery-1.11.3.min.js"></script>
		<script src="./js/rem.js"></script>	
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>		
	</body>
</html>

