<!DOCTYPE html>
<html>
	<head>
		<title>文艺爱好区</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="css/english.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="content">
			<div class="container">
				<div class="top" id="arctop">
					<div class="topimg"><img src="img/tip/jian2.png"></div>
					<div class="topword1">文艺爱好区</div>
				</div>
				<div class="middle">
					<div class="arctical-content">
						<div class="arctical-section">
							<div class="arctical-section1" >
								<div id="moviecolor"><img src="img/play/movie1.png"></div>
								<div class="arctical-section1-word">
									<h3>电影区</h3>
									<p>分享和电影相关的一些趣闻</p>
								</div>
							</div>
							<div class="arctical-section1" >
								<div id="musiccolor"><img src="img/play/musics.png"></div>
								<div class="arctical-section1-word">
									<h3>音乐区</h3>
									<p>推送一些音乐，你可以欣赏自己感兴趣的</p>
								</div>
							</div>
							<div class="arctical-section1" >
								<div id="pintcolor"><img src="img/play/pint.png"></div>
								<div class="arctical-section1-word">
									<h3>绘画区</h3>
									<p>你可以将作品上传到这里，也可以欣赏别人的</p>
								</div>
							</div>
							<div class="arctical-section1" >
								<div id="othercolor"><img src="img/play/others.png"></div>
								<div class="arctical-section1-word">
									<h3>其他</h3>
									<p>你可以将自己的爱好展现出来，寻找志同道合的朋友</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>		
			</div>
		</div>
		<script src="./js/jquery-1.11.3.min.js"></script>
		<script src="./js/rem.js"></script>
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>					
	</body>
</html>

