	*{
		margin:0.0rem auto;
		padding:0.0rem;
		list-style: none;
		text-decoration: none;
		font-size:15px;
		font-family: '微软雅黑';
	}
	img{
		width:100%;
	}
@media screen and (width:360px){
.content{
    width:360px;
    height:622px;
}
}
@media screen and (width:412px){
    .content{
        width:412px;
        height:714px;
    }
}
@media screen and (width:320px){
    .content{
        width:320px;
        height:550px;
    }
}
@media screen and (width:375px){
    .content{
        width:375px;
        height:649px;
    }
}
@media screen and (width:414px){
    .content{
        width:414px;
        height:718px;
    }
}
	.container{
		width:100%;
		height:100%;
	}
	.top{
		width:100%;
		height:9.5%;
		border-bottom:0.0625rem solid #B7B7B7;
		background: #FFC640;
		-webkit-box-shadow:0rem 0.125rem 0.625rem #B7B7B7;	
		position:relative;
	}
	.topimg{
		height: 80%;
	    top: 0.25rem;
	    left:0.625rem;
	    position: absolute;
	}

	.topword{
		width: 100%;
	    height: 100%;
	    text-align: center;
	    line-height: 3.75rem;
	    letter-spacing: 0.125rem;
	    font-size: 1.625rem;
	    font-family: '微软雅黑';
	    color:#FFF;
	}
	.middle{
		width:100%;
		height:90%;
		overflow:hidden;
		overflow-y: auto;
		padding:5% 3% 0% 3%;
		box-sizing: border-box;
	}
	h3{
		font-size:1.25rem;
		margin-bottom:0.625rem;	
	}
	p{
		font-size:1.0rem;
		text-indent: 2em;
	}