<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>跳瘙市场区</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../css/job.css">
</head>
<body>
	<div class="content">
		<div class="container">
			<div class="top" id="marktop">
				<div class="topimg"><img src="../img/tip/jian2.png"></div>
				<div class="topword">跳瘙市场区</div>
			</div>
			<div class="middle">
				<div class="markcontent">
					<div class="marksection">
						<div class="markimg">
							<img src="../img/job/watch.png">
						</div>
						<div class="markword">
							<h2>二手男式腕表</h2>
							<p>售价&nbsp;&nbsp;28</p>
						</div>
					</div>
					<div class="marksection">
						<div class="markimg">
							<img src="../img/job/bear.png">
						</div>
						<div class="markword">
							<h2>二手斜挎拉链</h2>
							<p>售价&nbsp;&nbsp;18</p>
						</div>
					</div>
					<div class="marksection">
						<div class="markimg">
							<img src="../img/job/earphone.png">
						</div>
						<div class="markword">
							<h2>二手耳机</h2>
							<p>售价&nbsp;&nbsp;10</p>
						</div>
					</div>
					<div class="marksection">
						<div class="markimg">
							<img src="../img/job/iphone62.png">
						</div>
						<div class="markword">
							<h2>二手iphone6</h2>
							<p>售价&nbsp;&nbsp;2100</p>
						</div>
					</div>
					<div class="marksection">
						<div class="markimg">
							<img src="../img/job/iphone62.png">
						</div>
						<div class="markword">
							<h2>二手iphone6</h2>
							<p>售价&nbsp;&nbsp;2128</p>
						</div>
					</div>
					<div class="marksection">
						<div class="markimg">
							<img src="../img/job/battery.png">
						</div>
						<div class="markword">
							<h2>二手充电宝</h2>
							<p>售价&nbsp;&nbsp;88</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/rem.js"></script>	
	<script>
		$('.topimg').click(function(){
			window.history.back();
		})
	</script>
</body>
</html>