<!DOCTYPE html>
<html>
	<head>
		<title>编辑资料</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<!-- <script src="./js/javascript.js"></script> -->
		<link href="css/me.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="content">
			<div class="container">
				<div class="edit-top">
					<div class="edit-topimg"><a href="/section#!/personal"><img src="img/tip/jian2.png" style="height:100%"></a></div>
					<div class="edit-topword">编辑资料</div>
				</div>
				<div class="edit-middle">
					<div class="editmiddle1">
						<div class="editmiddle1content1">
							<div class="editmiddle1img">
									<img src="img/me/2.png">
							</div>
							<div class="editmiddle1word">
								冰芒
							</div>
							<div class="editmiddletip">	
								<img src="img/tip/jian1.png">
							</div>
						</div>
						<div class="editmiddle1content2">
							个性签名
						</div>
					</div>	
					<div class="editmiddle2">
						<div class="editmiddle2content1">
							性别
						</div>
						<div class="editmiddle2content2">
							地区
						</div>
					</div>
					<div class="editmiddle3">
						<div>
							<div class="editmiddle3word">
								设置
							</div>
							<div class="editmiddle3tip">	
								<img src="img/tip/jian1.png">
							</div>
						</div>
						<div>
							<div class="editmiddle3word">
								修改密码
							</div>
							<div class="editmiddle3tip">	
								<img src="img/tip/jian1.png">
							</div>
						</div>
						<div>
							<div class="editmiddle3word">
								帮助与反馈
							</div>
							<div class="editmiddle3tip">	
								<img src="img/tip/jian1.png">
							</div>
						</div>
						<div>
							<div class="editmiddle3word">
								关于
							</div>
							<div class="editmiddle3tip">	
								<img src="img/tip/jian1.png">
							</div>
						</div>
					</div>
					<div class="editexit">
						<div><a href="/">退出登录</a></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./js/jquery-1.11.3.min.js"></script>
	<script src="./js/rem.js"></script>	
</html> 