
<div class="top1">
	<div class="top1img">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="img/life/1.png" alt="..."></div>
	            <div class="swiper-slide"><img src="img/life/2.png" alt="..."></div>
	            <div class="swiper-slide"><img src="img/life/3.png" alt="..."></div>
	        </div>
		</div>
	</div>
</div>
<div class="lmiddle1">
	<div class="lcolor1">
		<div class="lmiddle1img"><img src="img/life/jianzhi.png"></div>
		<div class="lword1"><a href="partjob">兼职区</a></div>
	</div>
	<div class="lcolor2">
		<div class="lmiddle1img"><img src="img/life/mall.png"></div>
		<div class="lword1"><a href="market">跳搔市场区</a></div>
	</div>
	<div class="lcolor3">
		<div class="lmiddle1img"><img src="img/life/book.png"></div>
		<div class="lword1"><a href="book/login/chose.html">图书借阅区</a></div>
	</div>
	<div class="lcolor4">
		<div class="lmiddle1img"><img src="img/learn/3.png"></div>
		<div class="lword1">日常问答区</div>
	</div>
</div>
<script src="/Swiper-3.4.1/dist/js/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    spaceBetween:0,
    autoplay:2000,
    loop:true,
});
</script>