<div class="top1">
	<div class="top1img">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="img/learn/18.png" alt="..."></div>
	            <div class="swiper-slide"><img src="img/learn/19.png" alt="..."></div>
	            <div class="swiper-slide"><img src="img/learn/20.png" alt="..."></div>
	        </div>
		</div>
	</div>
</div>
<div class="smiddle1">
	<div class="scolor1">
		<div class="smiddle1img"><img src="img/learn/1.png"></div>
		<div class="sword1"><a href="/search">期末考试区</a></div>
	</div>
	<div class="scolor2">
		<div class="smiddle1img"><img src="img/learn/2.png"></div>
		<div class="sword1"><a href="/cetTest">四六级英语</a></div>
	</div>
	<div class="scolor3">
		<div class="smiddle1img"><img src="img/learn/3.png"></div>
		<div class="sword1"><a href="/q&a">日常问答区</a></div>
	</div>
	<div class="scolor4">
		<div class="smiddle1img"><img src="img/learn/4.png"></div>
		<div class="sword1"><a href="/postExam">考研区</a></div>
	</div>
</div>
<script src="/Swiper-3.4.1/dist/js/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    spaceBetween:0,
    autoplay:2000,
    loop:true,
});
</script>
					