<div class="top1">
	<div class="top1img">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide"><img src="img/play/music.png" alt="..."></div>
	            <div class="swiper-slide"><img src="img/play/movie.png" alt="..."></div>
	            <div class="swiper-slide"><img src="img/play/draw.png" alt="..."></div>
	        </div>
		</div>
	</div>
</div>
<div class="ymiddle1">
	<div class="ycolor1">
		<div class="ymiddle1img"><img src="img/play/chat.png"></div>
		<div class="yword1"><a href="/chat">随聊区</a></div>
	</div>
	<div class="ycolor2">
		<div class="ymiddle1img"><img src="img/play/art.png"></div>
		<div class="yword1"><a href="/doubleM">文艺爱好区</a></div>
	</div>	
</div>
<script src="/Swiper-3.4.1/dist/js/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    spaceBetween:0,
    autoplay:2000,
    loop:true,
});
</script>
					

