*{margin: 0;padding: 0;border:0;}
.clear{clear: both;}
li{list-style: none;}
a{text-decoration: none;}
input{outline: none;}
body{font-family: "PingFang","Droid Sana";}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0;)}
a,button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0;)
-webkit-user-modify:read-write-plaintext-only; 
}
@media screen and (width:360px){
 	.content{
		width:360px;
		height:640px;
		background: #eeeded;
	}@media screen and (width:360px){
 	.content{
		width:360px;
		height:640px;
		background: #eeeded;
	}
}
@media screen and (width:412px){
 	.content{
		width:412px;
		height:732px;
		background: #eeeded;
	}
}
@media screen and (width:320px){
 	.content{
		width:320px;
		height:568px;
		background: #eeeded;
	}
}
@media screen and (width:375px){
 	.content{
		width:375px;
		height:667px;
		background: #eeeded;
	}
}
@media screen and (width:414px){
 	.content{
		width:414px;
		height:736px;
		background: #eeeded;
	}
}
}
@media screen and (width:412px){
 	.content{
		width:412px;
		height:732px;
		background: #eeeded;
	}
}
@media screen and (width:320px){
 	.content{
		width:320px;
		height:568px;
		background: #eeeded;
	}
}
@media screen and (width:375px){
 	.content{
		width:375px;
		height:667px;
		background: #eeeded;
	}
}
@media screen and (width:414px){
 	.content{
		width:414px;
		height:736px;
		background: #eeeded;
	}
}
.top{
	width:100%;
	height:2.375rem;
	background: #464646;
	padding:0 4.7%;
	box-sizing: border-box;
	position: relative;
}
.left{
	width:7.5%;
	height:68.7%;
	margin-top:1.6%;
	position: absolute;
}
.left>img{
	width:68%;
	height:100%;;
}
.right{
    width: 10.5%;
    height: 68.7%;
    right: 4.7%;
    top: 14.3%;
    position: absolute;
    text-align: center;
    line-height: 1.625rem;
    color:#E29F37;
}
.right>img{
	width:100%;
	height:100%;
}
.sousuo{
	width:21%;
	height:3.125rem;
	position: fixed;
	right:6%;
}
.login_word{
	width:100%;
	height:100%;
	text-align: center;
	line-height: 2.375rem;
	color:#FFF;
	font-size: 1.25rem;
	
}
.middle{
	width:100%;
	height:87%;
	overflow: hidden;
}
.me_info1{
	width:100%;
	height:6.875rem;
	background: #FFF;
	margin-top: 3%;
	padding-left:5%;
	box-sizing: border-box;
}
.touxiang{
    width: 100%;
    height: 100%;
    border-bottom: 0.0625rem solid #9c9c9c;
    padding: 2.5% 5.2% 2.5% 0%;
    box-sizing: border-box;
}
.touxiang_img{
    width: 3.0rem;
    height: 3.0rem;
    float: left;
    margin-top: 8%;
    text-align: center;
    line-height: 3.0rem;
    font-size:1.125rem;
}

.touxiang_word{
	width: 5.75rem;
    height: 5.75rem;
    float: right;
}
.touxiang_word>img{
	width:100%;
	height:100%;
}
.qianming{
	width:100%;
	height:40%;
}
.qianming1{
	float:left;
	line-height: 2.75rem;	
	width:20%;
	height:100%;
}
.qianming2{
	width:80%;
	height:100%;
	float:left;
	line-height: 2.75rem;	
	padding-left:3%;
	box-sizing: border-box;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}


.me_info3{
	width: 100%;
    height: 11.25rem;
    background: #FFF;
    padding-left: 5%;
    box-sizing: border-box;
}
.me_info3>div{
	width:100%;
	height:24%;
	border-bottom:0.0625rem solid #9c9c9c;
}
.me_info3>div:nth-child(4){
	border:none;
}
.me_word{
	float:left;
	line-height: 2.6875rem;
	font-size:1.125rem;
	margin-left: 1%;
}
.me_back{
    height: 2.25rem;
    line-height: 2.25rem;
    float: right;
    margin-top: 1%;
    margin-right:3%;
}
