
<div class="middlecontent">
<div class="middlecontentimg">
	<div>
		<div class="middleimgtop">
			<div class="middleimgtopimg"><img src="../img/learn/5.png"></div>
			<div class="middleimgbottom"><a href="/study/datijiqiao">答题技巧</a></div>
		</div>
	</div>
	<div>
		<div class="middleimgtop">
			<div class="middleimgtopimg"><img src="../img/learn/8.png"></div>
			<div class="middleimgbottom"><a href="/study/yingyulianxi">整卷练习</a></div>
		</div>
	</div>
	<div>
		<div class="middleimgtop">
			<div class="middleimgtopimg"><img src="../img/learn/7.png"></div>
			<div class="middleimgbottom">继续上次</div>
		</div>
	</div>
	<div>
		<div class="middleimgtop">
			<div class="middleimgtopimg"><img src="../img/learn/10.png"></div>
			<div class="middleimgbottom"><a href="/study/kechengtuisong">课程推送</a></div>
		</div>
	</div>
</div>
</div>
<div class="middlecontentword">
	<div class="middlecontentword1">
		<div class="middlecontentword2"><h3>多学习</h3><p>多多进行试题练习，进而提高做题感</p></div>
	</div>
	<div class="middlecontentword1">
		<div class="middlecontentword2"><h3>多交流</h3><p>和同学老师交流，解决自己不懂的问题</p></div>
	</div>
	<div class="middlecontentword1">
		<div class="middlecontentword2"><h3 style="width:50%;">多记答题技巧</h3><p style="width:50%">多种答题技巧答题更方便</p></div>
	</div>

</div>


