<!DOCTYPE html>
<html ng-app="module">
	<head>
		<title>日常问答区</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="../css/huida.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png" style="width:100%;height:100%"></div>
					<div class="topword">日常问答区</div>
				</div>
				<div class="middle">
					<div class="wenti">
						<div class="touxiang"></div>
						<div class="word1">
							<div class="word1_top"><p><span>infi</span>&nbsp;&nbsp;&nbsp;<span>2017-1-17</span>&nbsp;&nbsp;&nbsp;<span>14:01:21</span></p></div>
							<div class="word1_bottom"><%= count%></div>
						</div>
					</div>
					<div class="huida">
						<div class="touxiang"></div>
						<div class="word2">
							<div class="word2_top"><p><span>infi</span>&nbsp;&nbsp;&nbsp;<span>2017-1-17</span>&nbsp;&nbsp;&nbsp;<span>14:01:21</span></p></div>
							<div class="word2_bottom"></div>
						</div>
					</div>
					<div class="tiwen">
						<div class="touxiang"></div>
						<div class="word3">
							<div class="word3_tiwen">
								<textarea placeholder="输入你想说的话" style="border:none;resize:none;overflow: auto;"></textarea>
							</div>
							<div class="huifu">回复</div>
						</div>
					</div>
				</div>
			</div>	
		</div>	
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/rem.js"></script>	
					
	</body>
	<script>
		$(function(){
			$('.topimg').click(function(){
				window.history.back();
			})
			var word2_bottom=document.querySelector('.word2_bottom');
			$('.huifu').click(function(){
				var info1=$('textarea').val();
				var info2=$('.word1_bottom').text();
				word2_bottom.innerHTML=info1;
				$('textarea').val('');
				$.get('/addhuida',{wenti:info2,huida:info1},function(msg){
					console.log(msg);
				})
			})
		})
	</script>
	
</html>

