<!DOCTYPE html>
<html>
	<head>
		<title>课程推送</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<!-- <script src="./js/javascript.js"></script> -->
		<link href="../css/english.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png"></div>
					<div class="topword1">课程推送</div>
				</div>
				<div class="middle">
					<div class="lesson-content">
						 <div class="lessonsection">
						 	<div class="lessonimg" >
					 			<img src="../img/learn/tili4.png" alt="">
						 		<div class="lessonimgs">
						 			<img src="../img/learn/play.png" alt="">
						 		</div>
						 	</div>
						 	<div class="lessonword">
						 		英语四级标准课程1
						 	</div>
						 </div>
						 <div class="lessonsection">
						 	<div class="lessonimg" >
						 		<img src="../img/learn/tili3.png" alt="">
						 		<div class="lessonimgs">
						 			<img src="../img/learn/play.png" alt="">
						 		</div>
						 	</div>
						 	<div class="lessonword">
						 		英语四级标准课程2
						 	</div>
						 </div>
						 <div class="lessonsection">
						 	<div class="lessonimg" >
						 		<img src="../img/learn/tili2.png" alt="">
						 		<div class="lessonimgs">
						 			<img src="../img/learn/play.png" alt="">
						 		</div>
						 	</div>
						 	<div class="lessonword">
						 		英语四级标准课程3
						 	</div>
						 </div>
						 <div class="lessonsection">
						 	<div class="lessonimg" >
						 		<img src="../img/learn/tili1.png" alt="">
						 		<div class="lessonimgs">
						 			<img src="../img/learn/play.png" alt="">
						 		</div>
						 	</div>
						 	<div class="lessonword">
						 		英语四级标准课程4
						 	</div>
						 </div>
					</div>	
				</div>		
			</div>
		</div>	
		<script src="../js/jquery-1.11.3.min.js"></script>
		
		<script src="../js/rem.js"></script>	
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>		
	</body>
</html>

