<!DOCTYPE html>
<html>
	<head>
		<title>继续上次</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<!-- <script src="./js/javascript.js"></script> -->
		<link href="../css/english.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png"></div>
					<div class="topword1">继续上次</div>
				</div>
				<div class="middle">
					<div class="middlecontent">
						 <div class="middlecontentimg" style="border-bottom:none">
							<p >【典型习题】</p><br>
							<p >在计算机中， 1KB=  1024 
							  byte。 对于十六进制表示的数码19.8H，转换为十进制数时为：    25.5      
							 ；用二进制数表 示时为：  
							11001.1 B；该数码用压缩BCD码表示时数据为： 00100101.0101B或25.5H 。</p>  <br><p>设机器字长为8位，最高位是符号位。则十进制数–13所对应的原码为： 10001101B ； 补码为   11110011B  。</p> <br> <p>一个8位二进制数用补码方式表示的有符号数的范围是  -128~+127。</p><br> <p>软件通常分为 系统软件 
							 和 应用软件 两大类。</p> <br>
							 <p>
							 微型计算机中主要包括有   A 
							 。  A．微处理器、存储器和I/O接口          B．微处理器、运算器和存储器  C．控制器、运算器和寄存器组            D．微处理器、运算器和寄存器 第二章  8080系统结构</p>
						</div> 
					</div>	
				</div>		
			</div>
		</div>	
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/rem.js"></script>
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>			
	</body>
</html>

