<!DOCTYPE html>
<html>
	<head>
		<title>考研区</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="css/kaoyanqu.css" rel="stylesheet" type="text/css">
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png" style="width:100%;height:100%"></div>
					<div class="topword">考研区</div>
				</div>
				<div class="middle">
					<div class="middlecontent">
						<div class="middlecontentimg">
							<div>
								<div class="middleimgtop"><div class="middleimgtopimg"><img src="img/learn/16.png"></div></div>
								<div class="middleimgbottom"><a href="/study/yuanxiaozixun">校院资讯</a></div>
							</div>
							<div>
								<div class="middleimgtop"><div class="middleimgtopimg"><img src="img/learn/17.png"></div></div>
								<div class="middleimgbottom"><a href="/study/zhengcexinwen">政策新闻</a></div>
							</div>
							<div>
								<div class="middleimgtop"><div class="middleimgtopimg"><img src="img/learn/15.png"></div></div>
								<div class="middleimgbottom"><a href="/study/toutiaoxinwen">头条新闻</a></div>
							</div>
							<div>
								<div class="middleimgtop"><div class="middleimgtopimg"><img src="img/learn/12.png"></div></div>
								<div class="middleimgbottom"><a href="/study/tiaojizhuanti">调剂专题</a></div>
							</div>
							<div>
								<div class="middleimgtop"><div class="middleimgtopimg"><img src="img/learn/14.png"></div></div>
								<div class="middleimgbottom"><a href="/study/shishiredian">时事热点</a></div>
							</div>
							<div>
								<div class="middleimgtop"><div class="middleimgtopimg"><img src="img/learn/13.png"></div></div>
								<div class="middleimgbottom"><a href="/study/changjianwenti">常见问题</a></div>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>	
		<script src="./js/jquery-1.11.3.min.js"></script>
		<script src="./js/rem.js"></script>	
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>			
	</body>
</html>

