<!DOCTYPE html>
<html>
	<head>
		<title>时事热点</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="../css/shishiredian.css" rel="stylesheet" type="text/css">
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png" style="width:100%;height:100%"></div>
					<div class="topword">时事热点</div>
				</div>
				<div class="middle">
					<ul>
						<li><h4>习近平谈反腐：有必反腐，绝不“养虎为患”</h4></li>
						<li><h4>习近平谈中国”大块头“三个不动摇</h4></li>
						<li><h4>习近平：我国招生考试符合国情，但是也存在一部分问题</h4></li>
						<li><h4>习近平：全面推进依法治国，但也需要深化改革</h4></li>
						<li><h4>习近平：青年要自觉践行社会主义核心价值观</h4></li>
						<li><h4>习近平：让互联网发展成果惠及13亿中国人</h4></li>
						<li><h4>习近平：共建面向未来的亚太伙伴关系</h4></li>
					</ul>
				</div>		
			</div>
		</div>	
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/rem.js"></script>	
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>			
	</body>
</html>

