<!DOCTYPE html>
<html>
	<head>
		<title>考研区</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="../css/kaoyanqu.css" rel="stylesheet" type="text/css">
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png" style="width:100%;height:100%"></div>
					<div class="topword">调剂专题</div>
				</div>
				<div class="middle" id="tiaojicolor">
					<div class="tiaojiimg">
						<img src="../img/learn/23.png">
					</div>
					<div class="tiaojiword">
						<div>
							<h3>2017年西藏大学农牧学院考研调剂信息</h3>
							<p><span>西藏考研网</span>&nbsp;&nbsp;&nbsp;<span>	1小时前</span></p>
						</div>
						<div>
							<h3>2017年汕头大学医学院考研调剂信息</h3>
							<p><span>广东考研网</span>&nbsp;&nbsp;&nbsp;<span>	30分钟前</span></p>
						</div>
						<div>
							<h3>2017年吉林大学联合培养研究生考研调剂信息</h3>
							<p><span>吉林考研网</span>&nbsp;&nbsp;&nbsp;<span>	1小时前</span></p>
						</div>
						<div>
							<h3>2017年中国政法大学考研调剂信息</h3>
							<p><span>北京考研网</span>&nbsp;&nbsp;&nbsp;<span>	1小时前</span></p>
						</div>
						<div style="background: #FFF;">
							<h3>2017年吉林大学联合培养研究生考研调剂信息</h3>
							<p><span>吉林考研网</span>&nbsp;&nbsp;&nbsp;<span>	1小时前</span></p>
						</div>
						<div style="background: #FFF;">
							<h3>2017年中国政法大学考研调剂信息</h3>
							<p><span>北京考研网</span>&nbsp;&nbsp;&nbsp;<span>	1小时前</span></p>
						</div>
					</div>
				</div>		
			</div>
		</div>	
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/rem.js"></script>	
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>			
	</body>
</html>

