<!DOCTYPE html>
<html>
	<head>
		<title>头条新闻</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<meta name="viewport" content="height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link href="../css/kaoyanqu.css" rel="stylesheet" type="text/css">
	<body>
		<div class="content">
			<div class="container">
				<div class="top">
					<div class="topimg"><img src="../img/tip/jian2.png" style="width:100%;height:100%"></div>
					<div class="topword">头条新闻</div>
				</div>
				<div class="middle" id="tiaojicolor">
					<div class="tiaojiimg">
						<img src="../img/learn/21.png">
					</div>
					<div class="tiaojiword">
						<div>
							<h3>教育部撤销50个学位授予点是和信号</h3>
							<p><span>参考消息网</span>&nbsp;&nbsp;&nbsp;<span>	1小时前</span></p>
						</div>
						<div>
							<h3>教育部：985、211工程多份文件失效</h3>
							<p><span>北京青年报</span>&nbsp;&nbsp;&nbsp;<span>	30分钟前</span></p>
						</div>
						<div>
							<h3>学生为什么要进行硕士预备课程学习？</h3>
							<p><span>中央财经大学</span>&nbsp;&nbsp;&nbsp;<span>	2小时前</span></p>
						</div>
						<div>
							<h3>教育部：严禁研究生招生单位办辅导班</h3>
							<p><span>教育部</span>&nbsp;&nbsp;&nbsp;<span>	10分钟前</span></p>
						</div>
					</div>
				</div>		
			</div>
		</div>	
		<script src="../js/jquery-1.11.3.min.js"></script>
		<script src="../js/rem.js"></script>	
		<script>
			$('.topimg').click(function(){
				window.history.back();
			})
		</script>			
	</body>
</html>

